Source: nsnitro
Section: python
Priority: optional
Maintainer: Vladimir Lazarenko (vladimir@vlfn.nl)
Build-Depends: debhelper (>= 7.0.50~), python-support (>= 0.6), python-argparse, python-httplib2
XS-Python-Version: >=2.6
Standards-Version: 3.9.1.0

Package: python-nsnitro
Architecture: all
Homepage: https://github.com/favoretti/nsnitro
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}
Description: Pythonic library to talk to Citrix Netscaler 9.2+ using NITRO API
